body {
  font-family: sans-serif;
  margin: 5ex 10ex;
}

tt, pre {
  font-family: WebKitWorkaround, monospace;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}

#content {
  float: left;
  max-width: 65ex;
  margin-right: 5ex;
}

#sidebar {
  float: left;
  max-width: 20ex;
}

h1 {
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 100%;
  margin-bottom: 0;
}

a {
    text-decoration: none;
    color: blue;
}

